# Variables de Entorno de Firebase para Belgrano Salud Integral
# Copie este archivo como '.env' y complete con sus credenciales reales de Firebase.

VITE_FIREBASE_API_KEY="AIzaSyA-X1FWbDq680rTAcljPHquUQvoT_67kXY",
VITE_FIREBASE_AUTH_DOMAIN="consultoriobelgrano-e275b.firebaseapp.com",
VITE_FIREBASE_PROJECT_ID="consultoriobelgrano-e275b",
VITE_FIREBASE_STORAGE_BUCKET="consultoriobelgrano-e275b.firebasestorage.app",
VITE_FIREBASE_MESSAGING_SENDER_ID="180938421838",
VITE_FIREBASE_APP_ID="1:180938421838:web:7a475f1a1bf5fdc664f51f",
